{{ 'custom-iconwithtext.css' | asset_url | stylesheet_tag }}
{% style %}
  .custom-section-{{ section.id }} {
      padding-top: {{ section.settings.top_padding }}px;
      padding-bottom: {{ section.settings.bottom_padding }}px;
  }
{% endstyle %}

<div class="container">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when "customBlock" %}
        <div class="block-size">
          <div class="image">
            {{ block.settings.image  
              | image_url: width: 100
            }}
            {% comment %} {{
              section.settings.image
              | image_url: width: 3840
              | image_tag:
                width: section.settings.image.width,
                height: image_height,
                class: image_class,
                sizes: sizes,
                widths: widths,
                fetchpriority: fetch_priority
            }} {% endcomment %}
          </div>
          <div class="content">
            <div class="title">
              {{ block.settings.title }}
            </div>
            <div class="description">
              {{ block.settings.description }}
            </div>
        </div>
      </div>
    {% endcase %}
  {% endfor %}
</div>
{% schema %}
{
  "name": "Icon with text",
  "tag": "section",
  "class": "section",
  "disabled_on": {
            "groups": ["header", "footer"]
        },
  "blocks": [
    {
      "type": "customBlock",
      "name": "Icon with text",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "select image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "edit title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "edit description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon with text",
      "blocks": [
        {
          "type": "customBlock"
        },
        {
          "type": "customBlock"
        },
        {
          "type": "customBlock"
        },
        {
          "type": "customBlock"
        },
      ]
    }
  ]
}
{% endschema %}
