{{ 'custom-iconwithtext.css' | asset_url | stylesheet_tag }}
{% style %}
  .custom-section-{{ section.id }} {
      padding-top: {{ section.settings.top_padding }}px;
      padding-bottom: {{ section.settings.bottom_padding }}px;
  }
{% endstyle %}
<div class="pt-pb">
<div class="custom-container1">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'customBlock' %}

        <div class="block-size block-size-{{ forloop.index }}">
          <div class="custom-image">
            {{ block.settings.imageText | image_url: width: "auto"
              | image_tag }}
          </div>
          <div class="custom-content">
            <div class="custom-title">
              {{ block.settings.title }}
            </div>
            <div class="description">
              {{ block.settings.description }}
            </div>
          </div>
        </div>
    {% endcase %}
  {% endfor %}
</div>
</div>
{% schema %}
{
  "name": "Icon with text",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "customBlock",
      "name": "Icon with text",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "imageText",
          "label": "edit imageText"
        },
        {
          "type": "text",
          "id": "title",
          "label": "edit title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "edit description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon with text",
      "blocks": [
        {
          "type": "customBlock"
        },
        {
          "type": "customBlock"
        },
        {
          "type": "customBlock"
        },
        {
          "type": "customBlock"
        }
      ]
    }
  ]
}
{% endschema %}
