{{ 'custom-imagewithtext.css' | asset_url | stylesheet_tag }}
{% style %}

{% endstyle %}
<div class="page-width img-txt-overlay-contaner ">
    <div class="img-txt-overlay-content">
        <div class="img-txt-overlay-title">
            <p>
                {{ section.settings.title }}
            </p>
        </div>
        <div class="img-txt-overlay-description" style="background-image: url('{{ section.settings.image| image_url: width:300 }}');
    background-size: cover;
    background-position: center;">
            <p>
                {{ section.settings.description }}
            </p>
        </div>
            <button class="btn-img-txt"> SHOP NOW</button>
    </div>
    {% comment %} {{ section.settings.image | image_url: width:1600 | image_tag }} {% endcomment %}
   
</div>
{% schema %}
{
  "name": "Image overlay",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label":"Image"
    },
    {
      "type": "text",
      "id": "title",
      "label":"title",
      "default":"title"
    },
    {
      "type": "text",
      "id": "description",
      "label":"description",
      "default":"description"
    },
  ],
  "presets": [
    {
      "name": "Image overlay",
    }
  ]
}
{% endschema %}
